<div class="menuheader ">


    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="../assets/logo-02.png" width="210" height="60" class="d-inline-block align-top" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['servicios']">Inicio </a>
          </li>

          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle"  routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Servicios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" routerLinkActive="active">
              <a class="dropdown-item" [routerLink]="['Servicios']">Odontología general</a>
              <a class="dropdown-item" [routerLink]="['Servicios']">Ortodoncia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['Servicios']">Urgencias</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dra. Lilian Acosta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctenos</a>
          </li>
        </ul>
      <!--<img class="diente" src="../assets/favicon.png"  alt="...">-->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 boton2" type="submit">Búsqueda</button>
        </form>
      </div>
    </nav>
</div>
