

<div class="container">

  <iframe width="1200" height="580" src="https://sketchfab.com/models/4779673ffd7343adba33558f793b2e7c/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
<span class="border-bottom"><hr></span>


<div class="container">



  <div class="blockque">
    <h2 class="display-5"> Odontología General</h2>
      <p>En nuestro sistema, el odontólogo general realiza el diagnóstico primario del paciente, resuelve los problemas de restauración de caries que pueda presentar y lo canaliza adecuadamente a cada especialista de acuerdo a la necesidad del paciente.</p>
    </div>
      <div id="carouselExampleFade" class="carousel slide carousel-fade d-inline">
          <img class="adentro" src="../assets/general.jpg">
  </div>

  <hr>

</div>
