<div class="container-2">

<h1 class="display-3 animated">Servicios</h1>


          <!-- contenido odontologia general-->

    <div class="card-deck" >
  <div class="card">
    <img class="card-img-top" src="../assets/general-home.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Odontología General</h5>
      <p class="card-text">Contamos con los mejores equipos y equipo humano para brindar un excelente servicio.</p>
      <p> Urgencias - Caries - Cambio de restauraciones - Gingivitis, higiene oral completa - Blanqueamiento - Diseño de sonrisa </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Su salud es lo primero</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/braquet.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ortodoncia</h5>
      <p class="card-text">Contamos con las mejores técnicas, las mas estéticas y rápidas para la corrección de mal posición dental y alteaciones en la oclusion invisible -
        estética autoligado o inteligente - tradicional metalica</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/boy.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Odontopediatria</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <span class="badge badge-primary">Nuestra especialidad</span>
    </div>
  </div>
</div>

<button class="btn btn-secondary btn-lg btn-block" [routerLink]="['servicios']" role="button">Ver más</button>
<hr>
<div class="row">
<div class="col-sm desk">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.760428295724!2d-74.06651398523786!3d4.636776096631722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a3ab3cc3943%3A0x2a1bdaef851c5c7c!2sEdificio+Somec!5e0!3m2!1ses!2sco!4v1530896752118" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<hr class="v">
<div class="col-sm caja2">
  <h1 class="display-4">Contáctenos</h1>
  <div class="card">
          <div class="card-body">
            <form autocomplete="off">

              <fieldset>

              <div class="ht-tm-element ht-tm-element-inner">
                <input id="bt" class="form-control" type="text" value="Nombre y Apellido" id="name">
              </div>

              <div class="ht-tm-element ht-tm-element-inner">
                <input class="form-control" type="email" value="email@example.com" id="email">
              </div>

              <div class="ht-tm-element ht-tm-element-inner">
                <small class="text-muted">Agende su cita, sujeto a disponibilidad*</small>
                <input class="form-control" type="date" value="Agende-su-Cita" id="cita">

              </div>



              <div class="ht-tm-element ht-tm-element-inner">
                <input class="form-control" type="text-area" value="Comentarios" id="Comentarios">
              </div>
              <br>
              <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" enable required>
                    <label class="form-check-label" for="disabledFieldsetCheck">
                      <small class="text-muted">Acepto términos y condiciones.</small>

                    </label>
                  </div>
                      <br>
                  <button type="submit" class="btn btn-primary">Enviar</button>

                </fieldset>
            </form>
          </div>
        </div>
</div>
</div>



<!--
<div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/44d983cdd6e24ec6b3595e0dce691abc/embed?autospin=0.2&amp;preload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/44d983cdd6e24ec6b3595e0dce691abc?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Maxillary Second Molar Pulp Chamber</a>
    by <a href="https://sketchfab.com/DundeeDental?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">University of Dundee, School of Dentistry</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div>
-->
<hr>
</div>
