<div class="container-2">

<h1 class="display-3">Servicios</h1>


          <!-- contenido odontologia general-->

    <div class="card-deck " >
  <div class="card">
    <img class="card-img-top" src="../assets/general.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Odontología General</h5>
      <p class="card-text">Contamos con los mejores equipos y equipo humano para brindar un excelente servicio.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Su salud es lo primero</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/braquet.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ortodoncia</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/boy.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Odontopediatria</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<button type="button" class="btn btn-secondary btn-lg btn-block div2 ">Ver más</button>
<hr>
</div>
