/* You can add global styles to this file, and also import other style files */
footer {
  color: #fff;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;

}
.contenedor {
  width: 100%;

}
